<template name="stats">
	<div class="ui divider"></div>

	<div class="ui statistic">
		<h2 class="header">
			Current Streak
		</h2>
		<div class="value">
			1 day
		</div>
		<div class="label">
			March 8
		</div>
	</div>

	<div class="ui divider"></div>

	<div class="ui statistic">
		<h2 class="header">
			Longest Streak
		</h2>
		<div class="value">
			1 day
		</div>
		<div class="label">
			March 8
		</div>
	</div>

	<div class="ui divider"></div>
	
	<p class="ui cta">
		Did you end your streak?
		<small>
			Hey it happens!
			<span class="start-tracking">
				Start tracking again!
			</span>
		</small>
	</p>
</template>
