@import '../utilities/helpers';
@import '../utilities/variables';

// leaderboard styles

.leaderboard.view {

	.ui.icon.header {
		margin: 0.5em auto;
    font-size: 1.5em;

		.circular.icon {
			margin: 0 auto;
      font-size: 1em;
		}
	}
}
