@import '../utilities/helpers';
@import '../utilities/variables';

// leaderboard styles

.leaderboard.view {

	.ui.icon.header {
		margin: 0.5em auto;
    font-size: 1.5em;

		.circular.icon {
			margin: 0 auto;
			color: #f4d63a;
      font-size: 1em;
		}
	}

	.ui.table {
		box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.32);

		tbody {

			tr {

				&:nth-child(even) {
				  background: fade(@highlight-color, 50%);
				}
			}
		}
	}
}
