<template name="header">
  <div class="ui fixed large menu">
    <a class="logo item" href="{{pathFor 'home'}}">
      Logo
      {{#if currentUser}}
        <span class="animated greeting lightSpeedIn">
          Positive thoughts, {{currentUser.username}}
        </span>
      {{/if}}
    </a>
    <div class="right menu">
      {{#if currentUser}}
        <div class="item">
          <a class="ui logout button">Sign Out</a>
        </div>
      {{else}}
        <div class="item">
          <a class="ui login button" href="{{pathFor 'signIn'}}">Sign In</a>
        </div>
      {{/if}}
    </div>
  </div>
</template>
